<!DOCTYPE html>
<html>
  <head>
    <title>Climate Watch: Data for Climate Action</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <script><%= raw "window.__data = #{@data.to_json};" %></script>
    <% if @isProduction %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
