<!DOCTYPE html>
<html>
  <head>
    <title>Climate Watch: Data for Climate Action</title>
    <%= favicon_link_tag asset_path('favicons/apple-icon-57x57.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-60x60.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-72x72.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-76x76.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-114x114.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-120x120.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-144x144.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-192x192.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-144x144.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-96x96.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-72x72.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-48x48.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-36x36.png'), rel: 'icon', type: 'image/png' %>

    <%= favicon_link_tag asset_path('favicons/manifest.json'), rel: 'manifest' %>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <script><%= raw "window.__data = #{@data.to_json};" %></script>
    <% if @isProduction %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
