<!DOCTYPE html>
<html>
  <head>
    <title><%= title(@actual_path) %></title>
    <%= favicon_link_tag asset_path('favicons/apple-icon-57x57.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-60x60.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-72x72.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-76x76.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-114x114.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-120x120.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-144x144.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/apple-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-192x192.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-144x144.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-96x96.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-72x72.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-48x48.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicons/android-icon-36x36.png'), rel: 'icon', type: 'image/png' %>

    <%= favicon_link_tag asset_path('favicons/manifest.json'), rel: 'manifest' %>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <!-- SEO -->
    <meta name="description" content='<%= description(@actual_path) %>' />
    <meta name="twitter:creator" content="@vizzuality" />
    <meta name="twitter:description" content='<%= description(@actual_path) %>' />
    <meta name="twitter:image:src" content='<%= image_src(@actual_path) %>' />
    <meta property="og:description" content='<%= description(@actual_path) %>' />
    <meta property="og:title" content='<%= title(@actual_path) %>' />
    <meta property="og:type" content="website" />
    <meta property="og:image" content='<%= image_src(@actual_path) %>'>
    <meta property="og:url" content='<%= asset_url(@actual_path) %>' />
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0069/4623.js" async="async"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch,es6,Array.prototype.includes,String.prototype.includes"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <script><%= raw "window.__data = #{@data.to_json};" %></script>

    <% if @is_contained %>
      <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@3.5.1/js/iframeResizer.contentWindow.min.js"></script>
      <script src="https://ndcpartnership.org/sites/all/themes/ndcp_v2/js/iframeHelper.js"></script>
      <!--- exclude contained routes from search engines -->
      <meta name="robots" content="noindex">
    <% end %>

    <%= javascript_pack_tag 'main' %>

    <% if @is_production %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
